body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;

  font-family: Monaco, monospace;
  font-size: 15px;
  font-weight: 200;
  transition: 200ms ease;
}

img{
  height: 210px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}
h1 img{
  height: 40px;
  width: 40px;
}

ul {
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 0px;
}
ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
ul li a{
  padding: 10px 20px;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
}
ul li a:hover {
  background-color: #010101;
}
ul li img{
  height:400px;
  width: 80px;
  margin-left: 40px;
  margin-top: 30px;
}

h1 {
  text-shadow: -2px 0 white,0 2px white,2px 0 white,0 -2px white;
  font-family: Courgette;
	font-size: 50px;
  border-radius: 10px;
  color: #f55d3e;
  box-shadow: inset 0 0 4em #f7cb15, 0 0 4em #76bed0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  color: black;
  text-shadow: -1px 0 #FFFFFF,0 1px #FFFFFF,1px 0 #FFFFFF,0 -1px #FFFFFF;
  font-family: Boogaloo;
	font-size: 40px;
	font-weight: 500;
}
h3 {
  font-family: 'Boogaloo';
  color:#f55d3e;
  text-shadow: -1px 2px #76bed0;
	font-size: 30px;
	font-weight: 300;
}
h4{
  font-family: 'Fira Sans';
  font-size: 20px;
  font-weight: 400;
}
h5 {
  font-family: Monaco, monospace;
  font-size: 16px;
  font-weight: 600;
}
h6 {
  font-family: Monaco, monospace;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
}
p {
}

/* boxes, containers, etc.  */
.container {
  border: 5px solid #F7CB15;
  border-radius: 25px;
  padding: 10px;
  margin: 25px 5px;
}
.post{
  border: 2px solid #F7CB15;
  text-align: center;
}
.post h4{
  margin-top:0;
  font-size: 15px;
}
.post img{
  margin-bottom:0;
  margin-top: 0;
}

/* css pieces  */
.fullWidth {
  width: 100%;
}
.center {
  text-align: center;
}
.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.inline-block {
  display: inline-block;
}
.rightBorder {
  padding-right: 10px;
  border-right: 10px solid;
  border-color: rgba(144,144,144,0.58);
}
.leftEdge {
  padding-left: 10px;
}

/*  sidebar stuff  */
.sidebar {
  position: fixed;
  top: 0;
  left: -195px;
  background-color: lightslategrey;
  height: 100%;
  transition: .3s;
}
.active {
  left: 0;
}
.sidebarbtn {
  position: absolute;
  top:0;
  right: -75px;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  cursor: pointer;
  background: #F55D3E;
  border: none;
  outline: none;
}
.flex .post{
  border: 2px solid #F7CB15;
  text-align: center;
  background-color: #FFFFFF;
  margin: 25px 5px;
}
.flex .post h4 {
  margin-top:0;
  font-size: 15px;
}
.flex .post h4 a{
  background-color: transparent;
  color: darkblue;
  text-decoration: none;
}

/*  id's  */
#lines{
  height: 60px;
  width: 60px;
  position: relative;
  top: -10px;
  left:0px;
}

#dogOfWeek{
    max-width: 300px;
    width: 400px;

}
#intro{
  width: 1000px;
}
#searchBar{
  float: right;
  padding: 14px 16px;
}
#upload{
  width: 170px;
}
#discussion{
  display: inline-block;
  align-items: center;
}
#likebtn{
  height: 20px;
  width: 20px;
  float: left;
}
