body{
  background-color: #aedcbb;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e85fa1;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.searchBar{
  float: right;
  padding: 14px 16px;
}
h1{
  color: white;
  font-style: helvetica;
}
