<!DOCTYPE html>
<html>
<head>
  <title> About Us</title>
  <link type="text/css" rel="stylesheet" href="resources/styles.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="resources/main.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Courgette">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Boogaloo">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans">
</head>
<body>
  <h1><img src="resources/images.png"> Canine Companions <img src="resources/images.png"></h1>
  <div class="sidebar">
    <ul>
      <li><a href="/">Home</a></li>
      {% if user %}
      <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
      {% endif %}
      <li><a href="/discuss">Discussion</a></li>
      <li><a href="/all_profiles">All Profiles</a></li>
      <li class="headerRight">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      <li><a href="/about_us">About Us</a></li>
      <li><img src="/resources/PawPrints.png"></li>
    </ul>
    <button class="sidebarbtn">
      <img id="lines" src="resources/lines.png">
    </button>
  </div>
  <div class="center"><h2> The Creators</h2></div>
<div class="ourimages">
    <div  class="images center container post"><a href="https://www.linkedin.com/in/diego-gonzalez-25a895142/"><img src="resources/IMG_0172.jpg"></a>
    <h5> Diego Gonzalez</h5>
    <h6> Oakdale, CA <br>
      University of California, Merced</h6></div>
      <br>

    <div class="images center container post"><a href="https://www.linkedin.com/in/jacobia-johnson-6b8894142/"><img src="resources/jacobia1.PNG"></a>
    <h5> Jacobia Noelle Johnson</h5>
    <h6> Jacksonville, FL <br>
      North Carolina Central University</h6></div>

    <br>

    <div class="images center container post"><a href="https://www.linkedin.com/in/marissa-sanchez-186894142/"><img src="resources/marissa.jpeg"></a>
    <h5> Marissa Sanchez</h5>
    <h6> Casa Grande, AZ   <br>
     Boston University</h6></div>


</div>

</body>
</html>
