<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href= "resources/style.css"/>
    <script type="text/javascript" src="resources/main.js"></script>
  </head>
  <title>Discussion</title>
  <body>
    <h1>Canine Companions</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss">Discussion</a></li>
      <li class="headerRight">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      {% if user %}
      <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
      {% endif %}
      <div class="searchBar">
        <input type="text" name="Search Bar"/>
        <input type="submit" value="Submit">
      </div>
    </ul>


    <h2>Discussion Board</h2>
    <h5>Talk with your fellow Canine Companions users and share your questions, concerns, and
      opinions about dogs in our interactive forum! Please keep all comments and forums
      appropriate and avoid inappropriate language and comments.</h5>
      <h5>Make a Post</h5>
      <form method="post" action="/discuss/makepost">
        <input type="text" name="title" placeholder="Title"/><br><br>
        <textarea rows="5" cols="40" name="content" placeholder="Let's Talk Dog!"></textarea></br>
        <input type=submit value='Submit'/>
      </form>

      <h4>Posts</h4>
      {% for post in posts %}
      <h5><strong>{{post.title}}</strong></h5>
      <p><strong>{{post.user_key.get().name}}<strong></p>
      <h6>Posted: {{post.time}}</h6>
      <p>{{post.content}}</p>
      <br>
      {% endfor %}

  </body>
</html>
