<!DOCTYPE html>
<html>
  <head>
    <title>Discussion - Canine Companions</title>
    <link type="text/css" rel="stylesheet" href= "resources/style.css"/>
    <script type="text/javascript" src="resources/main.js"></script>
  </head>
  <body>
    <h1>Canine Companions</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss">Discussion</a></li>
      <li class="headerRight">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      {% if user %}
      <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
      {% endif %}
      <div class="searchBar">
        <input type="text" name="Search Bar"/>
        <input type="submit" value="Submit">
      </div>
    </ul>


    <div class="box"><h2>Discussion Board</h2></div>
    <h5>Talk with your fellow Canine Companions users and share your questions, concerns, and
      opinions about dogs in our interactive forum! Please keep all comments and forums
      appropriate and avoid inappropriate language and comments.
    </h5>

    {% if user %}
    <div class ="makea"><h5>Make a Post</h5></div>
    <form method="post" action="/discuss/makepost">
      <input type="text" name="title" placeholder="Title"/><br><br>
      <textarea rows="5" cols="40" name="content" placeholder="Let's Talk Dog!"></textarea></br>
      <input type=submit value='Submit'/>
    </form>
    {% else %}
    Login to post!<br><br>
    {% endif %}

    <div class="posts"><h4>Posts</h4></div>
    {% for post in posts %}
    <div class="darkBox">
      <h5><a href="/discuss/post?id={{post.key.urlsafe()}}"><strong>{{post.title}}</strong></a></h5>
      <p><strong>{{post.profile_key.get().name}}<strong></p>
      <p>Posted: {{post.time}}</p>
    </div>
    {% endfor %}
  </body>
</html>
