<!DOCTYPE html>
<html>
  <head>
    <title>Discussion</title>
    <link type="text/css" rel="stylesheet" href="resources/style.css"/>
    <script type="text/javascript" src="resources/main.js"></script>
  </head>
  <body>
    <h1>Dog Tinder</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/my_profile">My Profile</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss"> Discussion</a></li>
      <li class="login">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      <div class="searchBar">
        <input type="text" name="Search Bar"/>
        <input type="submit" value="Submit"/>
      </div>
    </ul>


    <h2> Discussion Board</h2>
    <h3> Talk with your fellow (DOG TINDER) users and share your questions, concerns, and
      opinions about dogs in our interactive forum!
  </body>
</html>
