<!DOCTYPE html>
<html>
  <head>
    <title>Discussion - Canine Companions</title>
    <link type="text/css" rel="stylesheet" href= "../resources/styles.css"/>
    <script type="text/javascript" src="../resources/main.js"></script>
  </head>
  <body>
    <h1>Canine Companions</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss">Discussion</a></li>
      <li class="headerRight">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      {% if user %}
      <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
      {% endif %}
      <div class="searchBar">
        <input type="text" name="Search Bar"/>
        <input type="submit" value="Submit">
      </div>
    </ul>


    <div class="lightBox center margin"><h2>Discussion Board</h2></div>
    <div class="lightBox margin">
      <h4><strong> {{post.title}}<strong></h4>
      <i><strong>{{post.profile_key.get().name}}<strong></i>
      <i>Posted: {{post.time}}</i>
      <br>
      <br>
      {{post.content}}
    </div>
    <div class="lightBox center margin"><h2>Comments</h2></div>
    <div class="center">
      {% if user %}
      <form method="post" action="/discuss/send_comment?id={{post.key.urlsafe()}}&post_type=discuss">
        <input type='text' name="content" placeholder="Leave a comment"/>
        <input type='submit' value="send"/>
      </form>
      {% else %}
      Login to add a comment!<br><br>
      {% endif %}
    </div>
    {% for comment in comments %}
    <div class="lightBox margin">
      <i><strong>{{comment.profile_key.get().name}}<strong></i>
      <p>{{comment.content}}</p>
      <i>Posted: {{comment.time}}</i>
    </div>
    {% endfor %}
  </body>
</html>
