<!DOCTYPE html>
<html>
  <head>
    <title>Edit Profile</title>
    <link type="text/css" rel="stylesheet" href="../resources/style1.css"/>
    <script type="text/javascript" src="../resources/main.js"></script>
  </head>
  <body>
    <h1>Canine Companions</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss">Discussion</a></li>
      <li class="headerRight">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      {% if user %}
      <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
      {% endif %}
      <div class="searchBar">
        <input type="text" name="Search Bar"/>
        <input type="submit" value="Submit">
      </div>
    </ul>


    <form method="post" action="/profile/submit_changes">
      <h4>Dog's Name: <input type="text" name="name"/></h4>
      <h4>Age: <input type="text" name="age"/></h4>
      <h4>Breed: <input type="text" name="breed"/></input></h3>
      <h4>Hometown: <input type="text" name="town"/></h4>
      <h4>Is your dog lazy or active?: </h4>
      <input type="radio" name="active" value="false">Lazy</input>
      <br>
      <input type="radio" name="active" value="true">Active</input>
      <h4>Favorite Toy: <input type="text" name="fav_toy"/></h4>
      <h4>All About Me: <input type="text" name="bio"/></h4>
      <h4>Is your dog friendly with kids?</h4>
      <input type="radio" name="kid_friendly" value="true">Yes</input>
      <input type="radio" name="kid_friendly" value="false">No</input>
      <h4>Is your dog up to date on vaccines?</h4>
      <input type="radio" name="vaccinated" value="true">Yes</input>
      <input type="radio" name="vaccinated" value="false">No</input>
      <h4>Is your dog friendly with other dogs?</h4>
      <input type="radio" name="dog_friendly" value="true">Yes</input>
      <input type="radio" name="dog_friendly" value="false">No</input>
      <p><input type="submit" value="Submit"></input></p>
    </form>
  </body>
</html>
