<!DOCTYPE html>
<html>
  <head>
    <title>Edit Profile - Canine Companions</title>
    <link type="text/css" rel="stylesheet" href="../resources/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Courgette">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Boogaloo">
  </head>
  <body>
    <h1><img src="../resources/images.png"> Canine Companions <img src="../resources/images.png"></h1>
    <div class="sidebar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/discuss">Discussion</a></li>
        <li><a href="/all_profiles">All Profiles</a></li>
        <li class="headerRight">
          {% if user %}
          <a href="{{log_url}}">Logout</a>
          {% else %}
          <a href="{{log_url}}">Login</a>
          {% endif %}
        </li>
        {% if user %}
        <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
        {% endif %}
        <div class="searchBar">
          <input type="text" name= "Search Bar"/>
          <input type="submit" value="Submit"/>
        </div>
      </ul>
      <button class="sidebarbtn">
        <img id="lines" src="../resources/lines.png">
      </button>
    </div>


    <form method="post" action="/profile/submit_changes">
      <h3>Dog's Name: <input type="text" name="name"/></h3>
      <h3>Age: <input type="text" name="age"/></h3>
      <h3>Breed: <input type="text" name="breed"/></input></h3>
      <h3>Hometown: <input type="text" name="town"/></h3>
      <h3>Is your dog lazy or active?: </h3>
      <input type="radio" name="active" value="false">Lazy</input>
      <br>
      <input type="radio" name="active" value="true">Active</input>
      <h3>Favorite Toy: <input type="text" name="fav_toy"/></h3>
      <h3>All About Me: <input type="text" name="bio"/></h3>
      <h3>Is your dog friendly with kids?</h3>
      <input type="radio" name="kid_friendly" value="true">Yes</input>
      <input type="radio" name="kid_friendly" value="false">No</input>
      <h3>Is your dog up to date on vaccines?</h3>
      <input type="radio" name="vaccinated" value="true">Yes</input>
      <input type="radio" name="vaccinated" value="false">No</input>
      <h3>Is your dog friendly with other dogs?</h3>
      <input type="radio" name="dog_friendly" value="true">Yes</input>
      <input type="radio" name="dog_friendly" value="false">No</input>
      <p><input type="submit" value="Submit"></input></p>
    </form>
  </body>
</html>
