<!doctype html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href= "../resources/style.css"/>
  <script type="text/javascript" src="../resources/main.js"></script>
</head>
<body>
  <title> Edit Profile</title>
  <h4> Dog's Name: <input type="text" name="name"></h4>
  <h4> Age: <input type="text" name="age"></h4>
  <h4> Breed: <input type="text" name="breed"></input></h3>
  <h4> Hometown: <input type="text" name="town"></h4>
  <h4> Is your dog lazy or active?: </h4>
  <input type = "radio" name="lazy" value="lazy">Lazy</input>
  <br>
  <input type = "radio" name="active" value="Active">Active</input>
  <h4> Favorite Toy: <input type="text" name="FavoriteToy"></input></h4>
  <h4> All About Me: <input type="text" name="AllAboutMe"></input></h4>
  <h4> If your dog friendly with kids?</h4>
  <input type="radio" name="yes" value="Yes">Yes</input>
  <input type="radio" name="no" value="No">No</input>
  <h4> Is your dog up to date on vaccines?</h4>
  <input type="radio" name="yes" value="Yes">Yes</input>
  <input type="radio" name="no" value="No">No</input>
  <h4> Is your dog friendly with other dogs?</h4>
  <input type="radio" name="yes" value="Yes">Yes</input>
  <input type="radio" name="no" value="No">No</input>
  <p><input type="submit" value="Submit"></input></p>
</body>
</html>
