<head> <link type= "text/css" rel="stylesheet" href= "../resources/style.css"/>
<script type= "text/javascript" src="../resources/main.js"></script>
<h1> Dog Tinder</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/my_profile">My Profile</a></li>
  <li><a href="/all_profiles">Other Profiles</a></li>
  <li><a href="/dog_pics">Dog Pics</a></li>
  <li><a href="/discuss"> Discussion</a></li>
  <div class = "searchBar">
    <input type= "text" name= "Search Bar"/>
    <input type="submit" value="Submit">
  </div>
</ul>
