<!DOCTYPE html>
<html>
  <head>
    <title>Canine Companions</title>
    <link type="text/css" rel="stylesheet" href="resources/style.css"/>
    <script type="text/javascript" src="resources/main.js"></script>
  </head>
  <body>
    <h1>Canine Companions</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss">Discussion</a></li>
      <li class="headerRight">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      {% if user %}
      <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
      {% endif %}
      <div class="searchBar">
        <input type="text" name= "Search Bar"/>
        <input type="submit" value="Submit">
      </div>
    </ul>
<div class= "homepage">
    <div class= "dogOfWeek">
    <img src="resources/rocky-dog-of-the-week.png">
    <h6>Dog of the Week: </br>
        Welcome Rocky
    </h6>
    </div>
    <div class= "newsletter">
      <h6>Subscribe to our Newsletter to Stay up to Date on all Things Canine!<h6>
      <div class= "editNewsletter" >
        <input type="text" name="newsletter" placeholder= "Enter Email" >
        <input type="submit" value="Enter">
      </div>
    </div>
</div>

  </body>
</html>
