<!DOCTYPE html>
<html>
  <head>
    <title>Canine Companions</title>
    <link type="text/css" rel="stylesheet" href="resources/styles.css"/>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="resources/main.js">
      $(document).ready(function(){
        $('.sidebarbtn').click(function(){
          $('.sidebar').toggleClass('active');

      })
    })
    </script>
  </head>
  <body>
    <h1>Canine Companions</h1>
    <div class="sidebar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss">Discussion</a></li>
      <li class="headerRight">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      {% if user %}
      <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
      {% endif %}
      <div class="searchBar">
        <input type="text" name= "Search Bar"/>
        <input type="submit" value="Submit">
      </div>
    </ul>
    <button class="sidebarbtn">
      <span></span>
    </button>
  </div>
<div class= "homepage">
    <div class= "dogOfWeek">
    <img src="resources/rocky-dog-of-the-week.png">
    <h4>Dog of the Week: </br>
        Welcome Rocky
    </h4>
    </div>
    <div class= "newsletter">
      <h2>Subscribe to our Newsletter to Stay up to Date on all Things Canine!<h2>
      <div class= "editNewsletter">
        <input type="text" name="newsletter" placeholder= "Enter Email" >
        <input type="submit" value="Enter">
      </div>
    </div>
    <div class="photos">
      Insert Photos Here!
    </div>
</div>

  </body>
</html>
