<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link type="text/css" rel="stylesheet" href="resources/style.css">
    <script type="text/javascript" src="resources/main.js"></script>
  </head>
  <body>
    <h1>Dog Tinder</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/my_profile">My Profile</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss"> Discussion</a></li>
      <li class="login">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      <div class="searchBar">
        <input type="text" name="Search Bar"/>
        <input type="submit" value="Submit">
      </div>
    </ul>


    <div class="container">
      <div class="vertical">
        <!--left side-->
        <h2> Welcome Back {{username}}!</h2>
        <img src ="resources/Insert-Photo-Here.jpg">
      </div>
      <hr width="1" size="2000">
      <div class="vertical">
        <!--right side-->
      </div>
    </div>
  </body>
</html>
