<!DOCTYPE html>
<html>
  <head>
    <title>{{profile.name}}'s Dog Profile - Canine Companions</title>
    <link type="text/css" rel="stylesheet" href="resources/styles.css"/>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="resources/main.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Courgette">
  </head>
  <body>
    <h1>Canine Companions</h1>
    <div class="sidebar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all_profiles">Other Profiles</a></li>
      <li><a href="/discuss">Discussion</a></li>
      <li class="headerRight">
        {% if user %}
        <a href="{{log_url}}">Logout</a>
        {% else %}
        <a href="{{log_url}}">Login</a>
        {% endif %}
      </li>
      {% if user %}
      <li class="headerRight"><a href="/my_profile">{{username}}</a></li>
      {% endif %}
      <div class="searchBar">
        <input type="text" name= "Search Bar"/>
        <input type="submit" value="Submit">
      </div>
    </ul>
    <button class="sidebarbtn">
      <span></span>
    </button>
  </div>
    <div class="container">
      <div class="vertical rightBorder">
        <!--left side-->

        {% if profile.key == user_id %}
        <h2> Welcome back {{username}}!</h2>
        {% else %}
        <h2>{{profile.name}}'s dog profile</h2>
        {% endif %}

        <img id="myImg" src="{{pic}}" />

        {% if profile.key == user_id %}
        <form method="post" action="/profile/upload_profile_pic" enctype="multipart/form-data">
          <input type='file' name="profile_pic"/>
          <input type="submit" value="Submit"/>
        </form>
        {% endif %}

        <h4>
          Name: {{profile.dog_name}}</br></br>
          Age: {{profile.age}}</br></br>
          Breed: {{profile.breed}}</br></br>
          Hometown: {{profile.hometown}}</br></br>

          {% if profile.active %}
          Active or Lazy: Active
          {% else %}
          Active or Lazy: Lazy
          {% endif %}<br><br>

          Favorite Toy: {{profile.fav_toy}}</br></br>
          Dog's Bio: {{profile.bio}}</br></br>

          {% if profile.kid_friendly %}
          Friendly with kids: Yes
          {% else %}
          Friendly with kids: No
          {% endif %}<br><br>

          {% if profile.vaccinated %}
          Vaccinated: Yes
          {% else %}
          Vaccinated: No
          {% endif %}
        </h4>
        {% if profile.key == user_id%}
        <h4><a href="/profile/edit">Edit Profile</a></h4>
        {% endif %}
      </div>
      <div class="vertical leftEdge">
        <!--right side-->
        <h2> Dog Photos!</h2>
        <h3>Here's your chance to show your cutest dog photos.</h3>
        <form method= "post" action="/upload_pics">
            <input type="file" name="pic" accept="image/*">
            <input type="submit" value="Submit">
        </form>
      </div>
    </div>

  </body>
</html>
